[Unit]
Description=DDNS Port Forward Service
After=network.target

[Service]
Type=simple
ExecStart=/etc/ddns-forward.sh
ExecReload=/etc/ddns-forward.sh --reload
ExecStop=/etc/ddns-forward.sh --clean
WorkingDirectory=/etc
Environment=PATH=/usr/bin:/usr/local/bin
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
