[Unit]
Description=DDNS Port Forwarding Daemon
After=network.target network-online.target
Wants=network-online.target
[Service]
Type=simple
ExecStart=/usr/local/bin/ddns-forward -c /etc/ddns-forward.ini -i 30
ExecStop=/usr/local/bin/ddns-forward -c /etc/ddns-forward.ini --clean
Restart=on-failure
RestartSec=5s
# Basic Security Hardening
ProtectSystem=full
ProtectHome=true
[Install]
WantedBy=multi-user.target
